include mixin-level-builder
div(class='container')
    h2 Now editing: #{level.name}
    .input-group.col-xs-6
        span Level's db document id:
        span( fishDbCouchProperty='_id') #{level._id}
    .input-group.col-xs-6
        span Revision ID:
        span( fishDbCouchProperty='_rev') #{level._rev}
    .col-sm-4.col-xs-12
        .row
            .input-group
                span.input-group-addon Name
                input(type='text' class = 'form-control' fishDbCouchProperty='name' value=level.name)
            .alert.alert-info Original: #{level.name}
    .col-sm-4.col-xs-12
        .row
            .input-group
                span.input-group-addon map id:
                input(type= 'number' class = 'form-control' fishDbCouchProperty='levelId' value= level.levelId)
            .alert.alert-info Original: #{level.levelId}
    .col-sm-4.col-xs-12
        .row
            .input-group
                span.input-group-addon next Level Id:
                input(type= 'number' class = 'form-control' fishDbCouchProperty='nextLevelId' value= level.nextLevelId)
            .alert.alert-info Original: #{level.nextLevelId}
    .row
        .input-group
            span.input-group-addon Description
            input(type='text' class = 'form-control' fishDbCouchProperty='description' value= level.description)
        .alert.alert-info Original: #{level.description}
    table.table.table-responsive
        +map(level)
h4(class='alert alert-info') Don't forget to save!.
div(class='row')
    button(class='btn btn-warning col-sm-3' fishroute='/editor/level/home' id='buttonCancel') Cancel
    span(class='col-sm-5')
    button(class='btn btn-primary col-sm-4' fishDbSubmitRoute='/editor/level/update/'
    fishDbEntryRev=level._rev fishDbEntryId=level._id id='fishButtonUpdateDb') Save
