div(class='container')
    div(class='input-group')
        span(class='input-group-addon') Document id :
        span(class='input-group-addon' jeffersonDbCouchProperty='_id') #{_id}
    div(class='input-group')
        span(class='input-group-addon') Name
        input(type='text' class = 'form-control' jeffersonDbCouchProperty='npc_name' value='#{npc_name}')
        span(class='input-group-addon') original: #{npc_name}
    div(class='input-group')
        span(class='input-group-addon') Color
        input(type='text' class = 'form-control' jeffersonDbCouchProperty='color' value='#{color}')
        span(class='input-group-addon') original: #{color}
    div(class='input-group')
        span(class='input-group-addon') Value
        input(type='number' class = 'form-control' jeffersonDbCouchProperty='value' value='#{value}')
        span(class='input-group-addon') original: #{value}
    div(class='input-group')
        span(class='input-group-addon') Description
        input(type='text' class = 'form-control' jeffersonDbCouchProperty='description' value= '#{description}')
        span(class='') Original: #{description}
    div(class='input-group')
        span(class='input-group-addon') Question
        input(type='text' class = 'form-control' jeffersonDbCouchProperty='question' value= '#{question}')
        span(class='') Original: #{question}
    div(class='input-group')
        span(class='input-group-addon') Answer
        input(type='text' class = 'form-control' jeffersonDbCouchProperty='answer' value= '#{answer}')
        span(class='') Original: #{answer}
    div(class='input-group')
        span(class='input-group-addon') npc_id
        input(type= 'number' class = 'form-control' jeffersonDbCouchProperty='npc_id' value= '#{npc_id}')
        span(class='') Original: #{npc_id}
h4(class='alert alert-info') Don't forget to save!.
div(class='row')
    button(class='btn btn-warning col-sm-3' jeffersonDbRouteToCall='/editor/npc/list/' id='buttonCancel') Cancel
    span(class='col-sm-5')
    button(class='btn btn-primary col-sm-4' jeffersonDbSubmitRoute='/editor/npc/update/' jeffersonDbEntryId='#{_id}' id='buttonUpdateDb') Save
