div(class='container')
    div(class='input-group')
        span(class='input-group-addon') Name
        input(type='text' class = 'form-control' value='#{npc_name}')
        span(class='input-group-addon') original: #{npc_name}
    div(class='input-group')
        span(class='input-group-addon') Color
        input(type='text' class = 'form-control' value='#{color}')
        span(class='input-group-addon') original: #{color}
    div(class='input-group')
        span(class='input-group-addon') Value
        input(type='number' class = 'form-control' value='#{value}')
        span(class='input-group-addon') original: #{value}
    div(class='input-group')
        span(class='input-group-addon') Description
        textarea(class = 'form-control' ) #{description}
        span(class='') Original: #{description}
    div(class='input-group')
        span(class='input-group-addon') Question
        textarea(class = 'form-control' ) #{question}
        span(class='') Original: #{question}
    div(class='input-group')
        span(class='input-group-addon') Answer
        textarea(class = 'form-control' ) #{answer}
        span(class='') Original: #{answer}

div(class='row')
    button(class='btn btn-warning col-sm-3' myRouteToCall='/editor/npclist' id='buttonCancel') Cancel
    span(class='col-sm-5')
    button(class='btn btn-primary col-sm-4' id='buttonSave') Save
