div(class='well row' style='box-shadow: 0em 0em .15em #{color}')
    div(class='col-sm-2')
        h4 #{npc_id}
    div(class='col-sm-5')
        h4 #{npc_name}
    div(class='col-sm-5')
        button(class='btn btn-primary btn-lg btn-block' 
        myRouteToCall='/editor/npc/#{npc_id}' 
        id='buttonEditNpc#{npc_id}') edit
