mixin littleMenu
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(
                    type='button'
                        data-toggle="collapse",
                        data-target='#fishNavbarCollapse',
                        aria-expanded='false',
                        aria-controls="navbar"
                        )
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                +littleMenuBranding
            .collapse.navbar-collapse(id='fishNavbarCollapse')
                ul.nav.navbar-nav
                    +littleMenuNavRoutes
                ul#navbarSignInOutMenu.navbar.navbar-nav.navbar-right

mixin littleMenuNavRoutes
    li
        button.btn.btn-primary( fishroute='/editor/db/home' ) Database
    li
        button.btn.btn-primary( fishroute='/editor/npc/home' ) NPC's

mixin littleMenuBranding
    a.navbar-brand(href='/')
        img(alt='Isit320', src='favicon.png')
